---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Контакты — My Car Tech Tracker">
  <div class="info-container">
    <h1>Контакты</h1>
    <p>По всем вопросам пишите на <a href="mailto:your@email.com">your@email.com</a></p>
    <p>Мы всегда рады вашим предложениям и обратной связи!</p>
  </div>
  <a href="/cover" class="back-to-cover-btn">На главную</a>
</Layout> 